@import "tailwindcss";

@theme {
  --font-sans: "Work Sans", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Work Sans", sans-serif;
  --color-primary: #8fb790;
  --color-background-light: #f7f7f7;
  --color-background-dark: #171b17;
}

@layer base {
  body {
    @apply bg-background-light text-slate-900 font-sans;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html {
  scroll-behavior: smooth;
}
